@font-face {
   font-family: 'njnaruto';
   src: url('njnaruto/font.ttf');
}
@font-face {
   font-family: 'go3v2';
   src: url('go3v2/font.ttf');
}
@font-face {
   font-family: 'osaka-re';
   src: url('osaka-re/font.ttf');
}
